@charset "utf-8";


:root {

	--corPadrao:#ffc107;
	--cor:#ffffff;
}

#home{
	background-color: var(--corPadrao);
	color: #ffffff;
}

#texto-footer {
	color: white;
}

ul li a {
	color: #000000;
}

ul li a:hover {
	color: ffc107;
}

